GraphLabs.Utils.MsBuild/Service References/DebugTaskUploader/DebugTaskUploader2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://glservice.svtz.ru:8000/DebugTaskUploader/DebugTaskUploader.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GraphLabs.WcfServices.DebugTaskUploader" />
  <xs:element name="UploadDebugTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskData" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="variantData" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadDebugTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GraphLabs.WcfServices.DebugTaskUploader" minOccurs="0" name="UploadDebugTaskResult" nillable="true" type="q1:DebugTaskData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>