GraphLabs.Utils.MsBuild/Service References/DebugTaskUploader/DebugTaskUploader22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GraphLabs.WcfServices.DebugTaskUploader" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GraphLabs.WcfServices.DebugTaskUploader" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DebugTaskData">
    <xs:sequence>
      <xs:element minOccurs="0" name="LabVariantId" type="xs:long" />
      <xs:element minOccurs="0" name="LabWorkId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DebugTaskData" nillable="true" type="tns:DebugTaskData" />
</xs:schema>