GraphLabs.Components/Service References/UserActionsRegistrator/UserActionsRegistrator2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://glservice.svtz.ru:8000/UserActionsRegistrator.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://glservice.svtz.ru:8000/UserActionsRegistrator.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GraphLabs.WcfServices.Data" />
  <xs:element name="RegisterUserActions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:long" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionGuid" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GraphLabs.WcfServices.Data" minOccurs="0" name="actions" nillable="true" type="q2:ArrayOfActionDescription" />
        <xs:element minOccurs="0" name="isTaskFinished" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterUserActionsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>