GraphLabs.Common/Service References/UserActionsRegistrator/UserActionsRegistrator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GraphLabs.WcfServices.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GraphLabs.WcfServices.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfActionDescription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActionDescription" nillable="true" type="tns:ActionDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActionDescription" nillable="true" type="tns:ArrayOfActionDescription" />
  <xs:complexType name="ActionDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Penalty" type="xs:short" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActionDescription" nillable="true" type="tns:ActionDescription" />
</xs:schema>